<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efef64">  <td>17/06/07 16:47:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.HOME_verifyLabelButtonTextBox@56ef9176]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 16:47:05</td>   <td>7</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.HOME_verifyLabelButtonTextBox@56ef9176]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/06/07 16:47:05</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HOME_verifyLabelButtonTextBox.verifyLabelButtonTextBox()[pri:0, instance:showManagement.NRS.HOME_verifyLabelButtonTextBox@56ef9176]">verifyLabelButtonTextBox</td> 
  <td>main@36202360</td>   <td></td> </tr>
</table>
