<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Show Management Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efef64">  <td>17/06/07 15:04:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.CREATE_expiredShow@2ac273d3]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@9876632</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>17/06/07 15:04:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.CREATE_disabledShow@a67c67e]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1348810507</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>17/06/07 15:04:25</td>   <td>1</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.CREATE_incompleteShow@3e9b1010]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@1324286581</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>17/06/07 15:04:25</td>   <td>1</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.CREATE_liveShow@56ef9176]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1382025233</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>17/06/07 15:04:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.CREATE_expiringsoonShow@527740a2]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@1183008669</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>17/06/07 15:09:44</td>   <td>318725</td> <td>&nbsp;</td><td title="&gt;&gt;BASE.cOR()[pri:0, instance:showManagement.NRS.HOME_verifyLabelButtonTextBox@57536d79]">&gt;&gt;cOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@1324286581</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>17/06/07 15:04:25</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CREATE_disabledShow.disabledShow()[pri:0, instance:showManagement.NRS.CREATE_disabledShow@a67c67e]">disabledShow</td> 
  <td>TestNG-tests-2@1348810507</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>17/06/07 15:04:25</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CREATE_expiredShow.expiredShow()[pri:0, instance:showManagement.NRS.CREATE_expiredShow@2ac273d3]">expiredShow</td> 
  <td>TestNG-tests-3@9876632</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>17/06/07 15:04:25</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CREATE_expiringsoonShow.expiringsoonShow()[pri:0, instance:showManagement.NRS.CREATE_expiringsoonShow@527740a2]">expiringsoonShow</td> 
  <td>TestNG-tests-4@1183008669</td>   <td></td> </tr>
<tr bgcolor="6a9486">  <td>17/06/07 15:04:25</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CREATE_incompleteShow.incompleteShow()[pri:0, instance:showManagement.NRS.CREATE_incompleteShow@3e9b1010]">incompleteShow</td> 
  <td>TestNG-tests-5@1324286581</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/06/07 15:04:25</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CREATE_liveShow.liveShow()[pri:0, instance:showManagement.NRS.CREATE_liveShow@56ef9176]">liveShow</td> 
  <td>TestNG-tests-1@1382025233</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 15:04:25</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.CREATE_expiringsoonShow@527740a2]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@1183008669</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 15:04:25</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.CREATE_disabledShow@a67c67e]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1348810507</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 15:04:25</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.CREATE_liveShow@56ef9176]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1382025233</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 15:04:25</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.CREATE_expiredShow@2ac273d3]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@9876632</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 15:04:25</td>   <td>9</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.CREATE_incompleteShow@3e9b1010]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@1324286581</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>17/06/07 15:09:44</td>   <td>318725</td> <td>&nbsp;</td><td title="&gt;&gt;smBASE.smOR()[pri:0, instance:showManagement.NRS.HOME_verifyLabelButtonTextBox@57536d79]">&gt;&gt;smOR</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@1324286581</td>   <td></td> </tr>
<tr bgcolor="89a8e2">  <td>17/06/07 15:09:44</td>   <td>318728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HOME_verifyLabelButtonTextBox.verifyLabelButtonTextBox()[pri:0, instance:showManagement.NRS.HOME_verifyLabelButtonTextBox@57536d79]">verifyLabelButtonTextBox</td> 
  <td>TestNG-tests-5@1324286581</td>   <td></td> </tr>
</table>
